BPEL_Final/bpelContent/resuelveEcuaciones.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.resuelveec.tps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="resuelveEcuaciones" targetNamespace="http://ws.resuelveec.tps">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.resuelveec.tps">
      <xsd:element name="Resuelve">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="X2" type="xsd:double" />
          	<xsd:element name="X" type="xsd:double"></xsd:element>
          	<xsd:element name="Ind" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ResuelveResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="alerta" type="xsd:string" />
          	<xsd:element name="resultado1" type="xsd:double"></xsd:element>
          	<xsd:element name="resultado2" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ResuelveRequest">
    <wsdl:part element="tns:Resuelve" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ResuelveResponse">
    <wsdl:part element="tns:ResuelveResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="resuelveEcuaciones">
    <wsdl:operation name="Resuelve">
      <wsdl:input message="tns:ResuelveRequest"/>
      <wsdl:output message="tns:ResuelveResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="resuelveEcuacionesSOAP" type="tns:resuelveEcuaciones">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Resuelve">
      <soap:operation soapAction="http://ws.resuelveec.tps/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="resuelveEcuaciones">
    <wsdl:port binding="tns:resuelveEcuacionesSOAP" name="resuelveEcuacionesSOAP">
      <soap:address location="http://localhost:8080/pde/processes/resuelveEcuacionesSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
